---
import teamData from "../data/teamData.json";
import BioCard from "./BioCard.astro";
---

<section class="max-w-6xl mx-auto md:px-6 md:py-12">
  <div class="space-y-8">
    {
      teamData.map((member) => (
        <BioCard
          name={member.name}
          role={member.title}
          bio={member.bio && member.bio.length > 0 ? member.bio[0] : ""}
          imageUrl={member.image}
          location={member.location}
          socialLinks={member.socialLinks}
        />
      ))
    }
  </div>
</section>
